# dependências
node_modules/

# build
dist/

# variáveis de ambiente
.env
.env.local

# banco de dados local do backend
*.db

# cache python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# venv
venv/
.venv/

# IDEs
.vscode/
.idea/
*.swp
